<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CookEat</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <br>
    <ion-toolbar class="subtitle">
        <ion-title color="primary">Favourites</ion-title>
    </ion-toolbar>
    <div class="loading-container">
        <ion-spinner *ngIf="inProgress"></ion-spinner>
    </div>
    <ion-list>
        <ion-item *ngFor="let recipe of results" [routerLink]="['/logged','recipes', recipe.key ]">
            <ion-thumbnail slot="start">
                <img [src]="recipe.image">
            </ion-thumbnail>
            <ion-label>{{ recipe.title }}</ion-label>
            <ion-icon name="arrow-dropright"></ion-icon>
        </ion-item>
    </ion-list>

    <div text-center>
        <ion-label *ngIf="!inProgress && !results.length">No results</ion-label>
    </div>
</ion-content>
