<ion-header>
    <ion-toolbar>
        <ion-title>Recipe-detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-back-button color="danger"></ion-back-button>
    <ion-card *ngIf="recipe">
        <ion-card-header>
            <ion-img [src]="recipe.image"></ion-img>
            <br>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-card-title>{{ recipe.title }}</ion-card-title>
                    </ion-col>
                    <ion-col size="3">
                        <ion-item lines="none" tappable (click)="onFavourite()">
                            <ion-icon name="heart-empty"*ngIf="!favourite" color="danger"></ion-icon>
                            <ion-icon name="heart"*ngIf="favourite" color="danger"></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card-header>

        <ion-card-content>
            <div class="ingredients-container" *ngIf="ingredients.length">
                <br>
                <ion-label color="primary" margin-top>Ingredients</ion-label>
                <ul>
                    <li *ngFor="let ingredient of ingredients">
                        <ion-item lines="none">
                            <ion-label>{{ ingredient.title }}</ion-label>
                        </ion-item>
                    </li>
                </ul>
            </div>
            <div [innerHTML]="recipe.description" class="description"></div>
        </ion-card-content>
    </ion-card>
</ion-content>
