.header-line
{
  ion-card-title, ion-item
  {
    display: inline-block;
  }
  ion-item
  {
    float: right;
    margin-top: -10px;
  }
}
.ingredients-container
{
  ion-label
  {
    margin-top: 0;
    margin-bottom: 0;
    min-height: auto;
  }
  ion-item
  {

  }
}
