<ion-header>
    <ion-toolbar color="primary" >
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>CookEat <img src="assets/logo.png"></ion-title>

    </ion-toolbar>
</ion-header>
<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-icon name="search"></ion-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favourites">
            <ion-icon name="heart"></ion-icon>
            <ion-label>Favourites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="reminders">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Reminders</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>

