<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form [formGroup]="form">
        <ion-item>
            <ion-input placeholder="Email" type="email" autocomplete autocorrect formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Repeat password" type="password" formControlName="password_repeat"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="First name" autocomplete autocorrect formControlName="first_name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Last name" autocomplete autocorrect formControlName="last_name"></ion-input>
        </ion-item>

        <ion-button color="primary" expand="full" (click)="onSubmit()">Register</ion-button>
        <ion-back-button defaultHref="/login" [text]="'To login'"></ion-back-button>
    </form>
</ion-content>
