<ion-app>
    <ion-menu side="start">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Hi!</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/logged/profile" routerLinkActive="active">
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label>Profile</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/logged/change-password" routerLinkActive="active">
                        <ion-icon name="lock" slot="start"></ion-icon>
                        <ion-label>Change password</ion-label>
                    </ion-item>
                </ion-menu-toggle>
                <ion-menu-toggle>
                    <ion-item lines="none">
                        <ion-icon name="log-out" slot="start"></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>
