
h3 Hello #{user.first_name}!
p You have been requested forgot password. To complete this process, click link below.

br
a(href="#{variables.app.domain}#{variables.paths.emails.PASSWORD_RESET}?token=#{passwordReminder.token}") Change password
include _footer